.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-map-1 {
  width: 340px;
  height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-map-1 {
    width: auto;
    height: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 142px;
}

.u-section-2 .u-list-1 {
  width: 340px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 56px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
  padding: 5px 10px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.0715em;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
  padding: 5px 10px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.0715em;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
  padding: 5px 10px;
}

.u-section-2 .u-icon-3 {
  font-size: 1.0715em;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-2 .u-list-1 {
    width: 440px;
    margin: 6px -50px 4px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 64px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-3 {
    border-style: solid;
  }
}